version: "3.9"

services:
  filedb:
    build: .
    environment:
      API_ID: $API_ID
      API_HASH: $API_HASH
      TG_BOT_TOKEN: $TG_BOT_TOKEN
      CHANNEL_ID: $CHANNEL_ID
      OWNER_ID: $OWNER_ID
      FORCE_SUB_CHANNEL: $FORCE_SUB_CHANNEL
      ADMINS: $ADMINS
      START_MSG: $START_MSG
      CUSTOM_CAPTION: $CUSTOM_CAPTION
